{% extends "base.html.twig" %}

{% block title %} {% endblock %}
{% block body %}
    <h1> A propos </h1>
    <embed src="../assets/files/CV-Gaëlle-PAYET_V_FINAL.pdf" type="application/pdf" width="80%" height="600px" style="display:block;margin:auto;" />
    
{% endblock %}
