{% extends "base.html.twig" %}

{% block title %} {% endblock %}
{% block body %}
    <div class="col-6"> 
        <p> 
        Sint nostrud cillum sit consequat exercitation Lorem nulla ipsum consectetur nisi fugiat incididunt. In qui sunt eu id. Nostrud occaecat pariatur est tempor anim nisi pariatur incididunt eu deserunt reprehenderit sint adipisicing. Enim consequat velit occaecat proident excepteur proident aute commodo. 
        Do proident non anim esse incididunt.</p>
    </div>
     
 
   
    <div class="col-6">Ecoles :
    Sint nostrud cillum sit consequat exercitation Lorem nulla ipsum consectetur nisi fugiat incididunt. In qui sunt eu id. Nostrud occaecat pariatur est tempor anim nisi pariatur incididunt eu deserunt reprehenderit sint adipisicing. Enim consequat velit occaecat proident excepteur proident aute commodo. Do proident non anim esse incididunt. </div>
   
    <div class="col-12">Sint nostrud cillum sit consequat exercitation Lorem nulla ipsum consectetur nisi fugiat incididunt. In qui sunt eu id. Nostrud occaecat pariatur est tempor anim nisi pariatur incididunt eu deserunt reprehenderit sint adipisicing. Enim consequat velit occaecat proident excepteur proident aute commodo. Do proident non anim esse incididunt.Sint nostrud cillum sit consequat exercitation Lorem nulla ipsum consectetur nisi fugiat incididunt. In qui sunt eu id. Nostrud occaecat pariatur est tempor anim nisi pariatur incididunt eu deserunt reprehenderit sint adipisicing. Enim consequat velit occaecat proident excepteur proident aute commodo. Do proident non anim esse incididunt. </div>
   
    
{% endblock %}
