{% extends 'base.html.twig' %}

{% block title %}Hello HobbiesController!{% endblock %}

{% block body %}
<div class="col-12">
            <ul>
                <li>Proident anim magna aliquip ea adipisicing fugiat ad. Eu nisi aute quis ad reprehenderit ad enim occaecat qui eiusmod anim. Exercitation laboris labore esse incididunt ad excepteur dolor labore eu esse. Ea ut nostrud occaecat culpa consequat aliqua nisi veniam sint cupidatat cupidatat ea. Ea ut laboris labore magna in irure qui. Et reprehenderit laborum cupidatat esse culpa occaecat ex velit ut commodo qui et. Laboris reprehenderit qui eu aliquip occaecat esse et aute ut minim occaecat eiusmod Lorem.</li>
                <li>Eiusmod aliquip in proident ut laborum. Duis est veniam eiusmod culpa reprehenderit cillum ut nostrud minim ut. Ea consectetur cupidatat deserunt cupidatat qui. Quis culpa nostrud deserunt excepteur amet. Qui sit eiusmod dolore officia duis tempor fugiat pariatur et duis Lorem est reprehenderit tempor. Ea exercitation aliquip eiusmod do. Ullamco excepteur cupidatat tempor nisi labore adipisicing exercitation aute incididunt culpa id excepteur.</li>
                <li>Labore aliquip ad duis tempor culpa mollit sit reprehenderit ullamco. Cillum sunt quis nulla esse incididunt reprehenderit tempor labore amet exercitation. Labore laboris sunt pariatur ad ut culpa.</li>
                <li>Dolor eu laborum adipisicing fugiat. Minim ipsum dolor exercitation eiusmod pariatur est sint minim minim sint sunt. Sunt mollit mollit eiusmod do proident tempor. Eiusmod cupidatat elit dolor minim irure exercitation fugiat esse ut exercitation nisi et. Aute ipsum anim duis sint occaecat do eiusmod duis qui mollit. Ut eiusmod aliqua tempor sint.</li>
            </ul>
        </div>
{% endblock %}
